<ion-header>
  <ion-toolbar>
    <ion-title>组件库</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <preload-image [ratio]="{w:2, h:1}" [src]="'https://placeimg.com/200/100/any'"></preload-image>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of
        the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
